{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block seo %}

    <title>{{ site_settings.header_text }} | {% trans " ÜRÜN ARA: " %} {{ request.GET.q }}</title>
    <meta name="keywords" content="{{ site_settings.keyword }}"/>
    <meta name="description" content="{{ site_settings.description }}">
    <meta name="author" content="{{ site_settings.header_text }}">

{% endblock seo %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <main class="main">
        <div class="heading">
            <div class="container">
                <h3>{% trans "Ara" %}</h3>
                <p><a href="#"> {% trans "Anasayfa" %}</a> / <a href="#">{% trans "ARA : " %} {{ request.GET.q }} </a>
                </p>
            </div>
        </div>
        <div class="page-content">


            <section class="product-wrapper container appear-animate mt-10 pt-3 pb-8" data-animation-options="{
                    'delay': '.3s'
                }">


                <div class="row cols-2 cols-md-3 cols-lg-4" data-owl-options="{
                        'items': 5,
                        'nav': false,
                        'loop': false,
                        'dots': true,
                        'margin': 20,
                        'responsive': {
                            '0': {
                                'items': 2
                            },
                            '768': {
                                'items': 3
                            },
                            '992': {
                                'items': 4,
                                'dots': false,
                                'nav': true
                            }
                        }
                    }">
                    <!--new card-->

                    <div class="container">
                        <div class="row">
 



                            {% for product in product_list %}
                                <div class="col-lg-3">
                                    <div class="showcase-card">
                                        <div class="card-top">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{{ product.get_first_image.image.url }}" alt="tb-2">
                                            </a>
                                        </div>
                                        <div class="card-bottom">
                                            <h3>{{ product.name }}</h3>

                                            <p class="select-category">{{ product.category.name }}</p>
                                            <p class="price">{{ product.price }} {% trans "₺" %}</p>
                                            <a class="card-buton"
                                               href="{{ product.get_absolute_url }}">{% trans "İncele" %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!--new card end-->
                </div>
            </section>


        </div>
    </main>

{% endblock content %}
{% block extra_script %}
{% endblock extra_script %}