{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load mptt_tags %}
{% load crispy_forms_tags %}
{% block seo %}

    <title>{{ site_settings.header_text }}</title>
    <meta name="keywords" content="{{ site_settings.keyword }}"/>
    <meta name="description" content="{{ site_settings.description }}">
    <meta name="author" content="{{ site_settings.header_text }}">

{% endblock seo %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo1.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/photoswipe/photoswipe.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/photoswipe/default-skin/default-skin.min.css' %}">
    <style>
        .product-price {
            display: flex;
            justify-content: flex-start;
        }

        .tab-content label {
            margin: 10px 0;
        }

        .tab-content {
            border-left: 1px solid #ced4da;
            padding: 0 0 0 20px;
        }

        .tab-vertical {
            background: #fff;
            border: 1px solid #E0E0E0;
            -webkit-box-shadow: 0 2px 10px 0 rgb(147 147 147 / 20%);
            box-shadow: 0 2px 10px 0 rgb(147 147 147 / 20%);
            border-radius: 6px;
            padding: 40px;
        }

        .address-box {
            border: 1px solid #ced4da;
            padding: 15px;
        }
    </style>
{% endblock extra_css %}

{% block content %}

    <main class="main account">
        <div class="heading">
            <div class="container">
                <h3>{% trans "Hesabım" %}</h3>
                <p><a href="#"> {% trans "Anasayfa" %}</a> / <a href="#"> {% trans "Hesabım" %}</a></p>
            </div>
        </div>

        <!-- End PageHeader -->
        <div class="page-content mt-10 mb-10">
            <div class="container pt-1">
                <div class="tab tab-vertical">
                    {% include 'account/account_left.html' %}
                    <div class="col-12 col-md-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <form class="form" method="POST" role="form">
                                    <div class="alan">
                                        <h3 class="modal-title" id="addressFormModalLabel">{% trans "Bilgilerim" %}</h3>
                                        {% csrf_token %}
                                        {% for alan in user_form %}
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <label>{{ alan.label }}</label>
                                                    {{ alan }}

                                                </div>

                                            </div>
                                        {% endfor %}


                                        <button type="submit" class="nextstep-buton mt-3">{% trans "Kaydet" %} <i
                                                class="d-icon-arrow-right"></i></button>
                                    </div>
                                </form>
                            </div>
                            <!--Siparişler Başlangıç-->
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">

                                <form class="form" method="POST" role="form">
                                    <div class="alan">
                                        <h3 class="modal-title"
                                            id="addressFormModalLabel">{% trans "Siparişlerim" %}</h3>
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-lg-12">

                                                {% for order_detail_list_product in my_orders %}
                                                    <div class="row">
                                                        <div class="{% if order_detail_list_product.cargo_no %}col-lg-2{% else %}col-lg-3{% endif %} col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "Sipariş No" %}</h6>
                                                                    <p>{{ order_detail_list_product.order_id }}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-2 col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "Tarih" %}</h6>
                                                                    <p>{{ order_detail_list_product.created_at }}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="{% if order_detail_list_product.cargo_no %}col-lg-1{% else %}col-lg-2{% endif %} col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "Toplam" %}</h6>
                                                                    <p>{{ order_detail_list_product.payment_amount }} </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="{% if order_detail_list_product.cargo_no %}col-lg-3{% else %}col-lg-4{% endif %} col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "Durum" %}</h6>
                                                                    <p>{{ order_detail_list_product.status }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if order_detail_list_product.cargo_no %}
                                                            <div class="col-lg-3 col-6">
                                                                <div class="basket-content">
                                                                    <div class="step-1">
                                                                        <h6>{% trans "Karko Takip No:" %}</h6>
                                                                        <span style="font-weight:500;">{{ order_detail_list_product.cargo_company.text }}:</span><br>
                                                                        <p>
                                                                            <a href="{{ order_detail_list_product.cargo_company.cargo_link }}{{ order_detail_list_product.cargo_no }}">
                                                                                {{ order_detail_list_product.cargo_no }}
                                                                            </a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <hr/>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--Siparişler Bitiş-->
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                 aria-labelledby="v-pills-messages-tab">

                                <!--Favoriler Başlangıç-->
                                <form class="form" method="POST" role="form">
                                    <div class="alan">
                                        <h3 class="modal-title"
                                            id="addressFormModalLabel">{% trans "Favorilerim" %}</h3>
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-lg-12">

                                                {% for product_favorite_list_detail in product_favorite_list %}

                                                    <div class="row">
                                                        <div class="col-lg-7 col-12">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "ÜRÜN" %}</h6>
                                                                    <div class="step-1-content">
                                                                        <img src="{{ product_favorite_list_detail.product.images.all.0.image.url }}"
                                                                             alt="">
                                                                        <div class="text">
                                                                            <h5>{{ product_favorite_list_detail }}</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "FİYAT" %}</h6>
                                                                    <div class="step-1-content">
                                                                        <p>{{ product_favorite_list_detail.product.price }} {% trans "TL" %}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="basket-hr"></div>
                                                    </div>


                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--Favoriler Bitiş-->
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                 aria-labelledby="v-pills-settings-tab">
                                <form class="form" method="POST" role="form">
                                    <div class="alan">
                                        <h3 class="modal-title"
                                            id="addressFormModalLabel">{% trans "İstek Listem" %}</h3>
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-lg-12">
                                                {% for product_request_list_detail in product_request_list %}

                                                    <div class="row">
                                                        <div class="col-lg-7 col-12">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "ÜRÜN" %}</h6>
                                                                    <div class="step-1-content">
                                                                        <img src="{{ product_request_list_detail.product.images.all.0.image.url }}"
                                                                             alt="">
                                                                        <div class="text">
                                                                            <h5>{{ product_request_list_detail }}</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-6">
                                                            <div class="basket-content">
                                                                <div class="step-1">
                                                                    <h6>{% trans "FİYAT" %}</h6>
                                                                    <div class="step-1-content">
                                                                        <p>{{ product_request_list_detail.product.price }} {% trans "TL" %}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="basket-hr"></div>
                                                    </div>


                                                {% endfor %}


                                            </div>

                                        </div>


                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-adress" role="tabpanel"
                                 aria-labelledby="v-pills-adress-tab">
                                <h3 class="modal-title" id="addressFormModalLabel">{% trans "Adreslerim" %}</h3>
                                <div class="row mt-3">
                                    <div class="col-md-6 mt-2">
                                        <h6>{% trans "Fatura Adresi" %}</h6>
                                        <div class="address-box">
                                            {% if billing_address_obj %}

                                                <p>

                                                </p>
                                                <h6 class="card-title font-weight-bold pt-2 pb-2">{{ billing_address_obj.name }}</h6>
                                                <p class="font-weight-bold">{{ billing_address_obj.first_name }} {{ billing_address_obj.last_name }}</p>

                                                <p>
                                                    <br>
                                                    {{ billing_address_obj.street_address_1 }}
                                                    <br>
                                                <p>
                                                    {{ billing_address_obj.phone }}
                                                </p>

                                                </p>
                                                <a href="{% url 'accounts/:edit-address' billing_address_obj.id %}"
                                                   class="nextstep-buton mt-2 btn btn-secondary btn-checkout"
                                                   style="width: 100%; background-color: #193b64;">{% trans "Adresi düzenle" %}</a>


                                                <p></p>
                                            {% else %}

                                                <p>{% trans "Varsayılan bir fatura adresi belirlemediniz.." %}</p>

                                                <a href="{% url "accounts/:add-address" %}"
                                                   class="nextstep-buton mt-2 btn btn-secondary btn-checkout"
                                                   style="width: 100%; background-color: #193b64;">{% trans "Adres Ekle" %}</a>

                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <h6>{% trans "Teslimat Adresi" %}</h6>
                                        <div class="address-box">
                                            {% if shipping_address_obj %}

                                                <p>

                                                </p>
                                                <h6 class="card-title font-weight-bold pt-2 pb-2">{{ shipping_address_obj.name }}</h6>
                                                <p class="font-weight-bold">{{ shipping_address_obj.first_name }} {{ shipping_address_obj.last_name }}</p>

                                                <p>
                                                    <br>
                                                    {{ shipping_address_obj.street_address_1 }}
                                                    <br>
                                                <p>
                                                    {{ shipping_address_obj.phone }}
                                                </p>

                                                </p>
                                                <a href="{% url 'accounts/:edit-address' shipping_address_obj.id %}"
                                                   class="nextstep-buton mt-2 btn btn-secondary btn-checkout"
                                                   style="width: 100%; background-color: #193b64;">{% trans "Adresi düzenle" %}</a>


                                                <p></p>
                                            {% else %}

                                                <p>{% trans "Varsayılan bir teslimat adresi belirlemediniz.." %}</p>

                                                <a href="{% url "accounts/:add-address" %}"
                                                   class="nextstep-buton mt-2 btn btn-secondary btn-checkout"
                                                   style="width: 100%; background-color: #193b64;">{% trans "Adres Ekle" %}</a>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-pass" role="tabpanel"
                                 aria-labelledby="v-pills-pass-tab">

                                <!--Parola Değiştir Başlangıç-->
                                <h3 class="modal-title" id="addressFormModalLabel">{% trans "Şifre Değiştir" %}</h3>
                                <form action="#" class="form">

                                    <label>E-Mail Adresi</label>
                                    <input type="email" class="form-control" name="email"
                                           value="{{ request.user.email }}" readonly="">

                                    <label>Mevcut Parola</label>
                                    <input type="password" class="form-control" name="current_password" required="">

                                    <label>Yeni Parola</label>
                                    <input type="password" class="form-control" name="new_password" required="">

                                    <label>Yeni Parola Tekrar</label>
                                    <input type="password" class="form-control" name="confirm_password" required="">

                                    <button type="submit" class="nextstep-buton mt-3">Kaydet</button>
                                </form>
                                <!--Parola Değiştir Bitiş-->
                            </div>
                            <div class="tab-pane fade" id="v-pills-exit" role="tabpanel"
                                 aria-labelledby="v-pills-exit-tab">

                                <form method="post" action="/tr/account/logout/">
                                    {% csrf_token %}
                                    Çıkış yapmak istediğinize emin misiniz?
                                    <button type="submit" class="nextstep-buton mt-3">Çıkış Yap</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>


{% endblock %}

