{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block seo %}

    <title>{{ site_settings.header_text }}</title>
    <meta name="keywords" content="{{ site_settings.keyword }}"/>
    <meta name="description" content="{{ site_settings.description }}">
    <meta name="author" content="{{ site_settings.header_text }}">

{% endblock seo %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo1.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/photoswipe/photoswipe.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/photoswipe/default-skin/default-skin.min.css' %}">
    <style>
        .product-price {
            display: flex;
            justify-content: flex-start;
        }
    </style>
{% endblock extra_css %}
{% block head_title %}{% trans "Parola Değiştir" %}{% endblock %}

{% block content %}

    <main class="main account">
        <div class="page-header"
             style="background-image: url({% static 'images/page-header.jpg' %}); background-color: #3C63A4;">
            <h1 class="page-title">{% trans "Hesabım" %}</h1>

        </div>
        <!-- End PageHeader -->
        <div class="page-content mt-10 mb-10">
            <div class="container pt-1">
                <div class="tab tab-vertical">
                    <ul class="nav nav-tabs mb-4" role="tablist">
                        <li class="nav-item">
                            <a class="" href="{% url 'accounts/:my-account' %}">{% trans "Hesabım" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#account">{% trans "Parola Değiştir" %}</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="account">


            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary" name="action">{% trans "Parola Değiştir" %}</button>
            </form>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </main>



{% endblock content %}
{% block extra_script %}
{% endblock extra_script %}
