{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Şifremi Sıfırla" %}{% endblock %}


{% block content %}

    <main class="main cart">


            <div class="page-content mt-10 pt-4">
                <section class="contact-section mb-8">
                    <div class="container">
                        <div class="row d-flex justify-content-center">

                            <div class="col-lg-12 col-md-12 col-xs-12">

                                <form class="ml-lg-2 pt-8 pb-10 pl-6 pr-6 pl-lg-6 pr-lg-6 grey-section" method="POST" action="{% url 'account_reset_password' %}">
                                    {% csrf_token %}
                                    <h3 class="ls-m mb-8 text-center">{% trans "Şifremi Sıfırla" %}</h3>

                                    <div class="row">
                                        <div class="col-md-12">
                                 <p class="text-muted mb-4 mt-3">{% trans "Şifrenizi mi unuttunuz? E-posta adresinizi aşağıya girin, size sıfırlamanıza izin veren bir e-posta göndereceğiz." %}</p>
                                        </div>
                                        <div class="col-md-12 mb-4">
                                        <input type="email" class="form-control"  name="email" style="height:60px;" size="30" placeholder="E-posta adresi" required="" id="id_email">
                                        </div>

                                    </div>
                                    <button class="btn btn-primary btn-block" type="submit">{% trans "Şifremi Sıfırla" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End About Section-->




            </div>
        </main>
{% endblock %}
{% block extra_script %}

{% endblock extra_script %}