{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block seo %}

    <title>{{ site_settings.header_text }}</title>
    <meta name="keywords" content="{{ site_settings.keyword }}"/>
    <meta name="description" content="{{ site_settings.description }}">
    <meta name="author" content="{{ site_settings.header_text }}">

{% endblock seo %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover-min.css' %}">
    <!-- Max-768px -->
    <link rel="stylesheet" media="(max-width:768px)" href="{% static 'css/max-768px.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <style>
        .product-price {
            display: flex;
            justify-content: flex-start;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <main class="main account">
        <div class="heading">
            <div class="container">
                <h3>{{ bread_crumb }}</h3>
            </div>
        </div>
        <!-- End PageHeader -->
        <div class="page-content mt-10 mb-10">
            <div class="container pt-1">
                {{ content|safe }}
            </div>
        </div>
    </main>



{% endblock content %}
{% block extra_script %}
{% endblock extra_script %}