{% load i18n %}
{% load static %}
<!-- End of Main -->
<!--footer yeni başlangıç-->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-content">
                    <ul>
                        <li class="head">{% trans "Teknofest Mağaza" %}</li>
                        <a href="/about/">
                            <li class="body">{% trans "Hakkımızda" %}</li>
                        </a>
                        <a href="/legal2/">
                            <li class="body">{% trans "Teslimat ve İade" %}</li>
                        </a>


                    </ul>
                    {% for category in categories_menu_list %}
                        <ul>
                            <a href="{{ category.get_absolute_url }}">
                                <li class="head">{{ category }}</li>
                            </a>


                        </ul>

                    {% endfor %}


                </div>
                <div class="container">
                    <div class="footer-bottom" style="width: max-content;">
                        <div class="legalRules">
                            <p class="copyright">{{ site_settings.footer_text|safe }}</p>
                            <div>
                                <a rel="nofollow" href="/privacy/"
                                   title="Gizlilik ve Kişisel Verilerin Korunması Politikası " class="head" style="color: black; font-size: 16px;">
                                    {% trans "Gizlilik ve Kişisel Verilerin Korunması Politikası" %} </a> |
                                <a rel="nofollow" href="/usage-agreement/"
                                   title="Kullanım Koşullarımız" class="head" style="color: black; font-size: 16px;">
                                    {% trans "Kullanım Koşullarımız" %}
                                </a>
                            </div>
                        </div>
                        <div class="payment">
                            <img src="{{ site_settings.footer_banner.url }}"
                                 alt="" style="width: 50%; float: right;">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</footer>
<!--footer yeni bitiş-->

