{% load i18n %}
{% load static %}
<div class="header sticky hor-header" style="margin-bottom: -74px;">
    <div class="main-container container">
        <div class="d-flex">
            <!-- sidebar-toggle-->
            <a class="logo-horizontal " href="index.html">
                <img src="{{ site_settings.company_logo.url }}" class="header-brand-img desktop-logo" alt="logo">
                <img src="{{ site_settings.company_logo.url }}" class="header-brand-img light-logo1" alt="logo">
            </a>
            <!-- LOGO -->
            <div class="main-header-center ms-3 d-none d-lg-block dropdown">
                <input type="text" class="form-control dropdown-toggle" id="typehead"
                       placeholder="Ürün Ara..." autocomplete="off" data-bs-toggle="dropdown"
                       aria-expanded="false">
                <div class="dropdown-menu" style=""></div>
                <button class="btn px-0 pt-2"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

            <div class="d-flex order-lg-2 ms-auto header-right-icons">
                <!-- SEARCH -->
                <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                </button>

                <div class="navbar navbar-collapse responsive-navbar p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <div class="d-flex order-lg-2">
                            <div class="dropdown d-lg-none d-flex">
                                <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="dropdown-menu header-search dropdown-menu-start">
                                    <div class="input-group w-100 p-2">
                                        <input type="text" class="form-control" placeholder="Ara....">
                                        <div class="input-group-text btn btn-primary">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Theme-Layout -->
                            <div class="dropdown  d-flex shopping-cart">
                                <a class="nav-link icon text-center" data-bs-toggle="dropdown" id="getsepet">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="sepetlist">

                                </div>
                            </div>
                            <!-- CART -->
                            <div class="dropdown d-flex profile-1">
                                <a href="{% url 'accounts/:my-account' %}" class="nav-link leading-none d-flex">
                                    {% if user.is_authenticated %}
                                        <img src="{% static "assets/images/users/21.jpg" %}" alt="profile-user"
                                             class="avatar  profile-user brround cover-image">
                                    {% else %}
                                        <img src="{% static "assets/images/users/21.jpg" %}" alt="profile-user"
                                             class="avatar  profile-user brround cover-image">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumps-prevent" style="padding-top: 74px;"></div>