{% load i18n %}
{% load static %}

<!--yeni kodlar başlangıç-->
<!--Topbar Başlangıç-->
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-2">
                <div class="Topbar-social_media">
                    {% for site_social_link in site_social_links %}

                        <a href="{{ site_social_link.instagram }}"><img src="{% static 'images/instagram.svg' %}"
                                                                        alt=""></a>
                        <a href="{{ site_social_link.twitter }}"><img src="{% static 'images/twitter.svg' %}"
                                                                      alt=""></a>
                        <a href="{{ site_social_link.facebook }}"><img src="{% static 'images/facebook.svg' %}"
                                                                       alt=""></a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-1 ml-auto col-1">
                <div class="support">

                    {% if messages %}
                        {% for message in messages %}
                            {% if forloop.last %}
                                <p class="btn-{{ message.tags }} pr-3 pl-3"
                                   style="white-space: pre; margin-right: 15px; ">{{ message|safe }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    {% for site_header_banner in site_header_banners %}

                        <a href="{{ site_header_banner.url }}">
                            <p>{{ site_header_banner.text }}</p>
                        </a>
                        {% if forloop.last %}

                        {% else %}
                            <a style="margin-left: 5px; margin-right: 5px;"><p> | </p></a>
                        {% endif %}
                    {% endfor %}


                </div>


            </div>
        </div>
    </div>
</div>
<!--Topbar Bitiş-->

<!--TopbarBottom Başlangıç-->
<div class="TopbarBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="logo">
                    <a href="/" class="logo">
                        <img src="{{ site_settings.company_logo.url }}" alt="Logo" style="width:100px;height:73px;">
                    </a>
                </div>
            </div>

            <div class="col-lg-7 col-12">
                <form method="get" action="{% url 'product/:product-search' %}" class="input-wrapper">
                    <div class="search-bar">
                        <input class="form-control" type="search" name="search_query" placeholder="Ürün Ara"
                               aria-label="Search">
                        <img src="{% static 'images/search.svg' %}" alt="">
                    </div>
                </form>
            </div>

            <div class="col-lg-3 col-12">

                <div class="right-basket-icon">

                    <div class="basket-content">
                        <a href="{% url 'basket:basket_view' %}">
                            <div class="basket">
                                <img src="{% static 'images/basket.svg' %}" alt="">
                            </div>
                            <p>{% trans "Sepet" %}</p>
                        </a>
                    </div>

                    <div class="order-content">
                        <a class="giris" href="{% url 'accounts/:my-account' %}">
                            {% if user.is_authenticated %}
                                <div class="order">
                                    <img src="{% static 'images/heart.svg' %}" alt="">
                                </div>
                                <p>{% trans "Hesabım" %}</p>
                            {% else %}
                                <div class="order">
                                    <img src="{% static 'images/heart.svg' %}" alt="">
                                </div>
                                <p>{% trans "Giriş Yap" %}</p>
                            {% endif %}
                        </a>
                        <a href="#">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--TopbarBottom Bitiş-->

<!--Menü Başlangıç-->
<div class="menu">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        {% for category in categories_menu_list %}


                            {% if category.children.all %}

                                <li class="nav-item dropdown show">
                                    <a class="nav-link  dropdown-toggle" href="{{ category.get_absolute_url }}"
                                       data-toggle="dropdown"
                                       aria-expanded="true">{{ category }}</a>
                                    <ul class="dropdown-menu fade-down show">
                                        {% for child in category.children.all %}
                                            <li><a class="dropdown-item"
                                                   href="{{ child.get_absolute_url }}">{{ child }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}

                                <li class="nav-item dropdown">
                                    <a href="{{ category.get_absolute_url }}" class="nav-link">{{ category }}</a>
                                </li>


                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

