{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% load account socialaccount %}
{% block seo %}

    <title>{{ site_settings.header_text }}</title>
    <meta name="keywords" content="{{ site_settings.keyword }}"/>
    <meta name="description" content="{{ site_settings.description }}">
    <meta name="author" content="{{ site_settings.header_text }}">

{% endblock seo %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo1.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/photoswipe/photoswipe.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/photoswipe/default-skin/default-skin.min.css' %}">
    <style>
        .product-price {
            display: flex;
            justify-content: flex-start;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <main class="main account">
        <!--new head-->
        <div class="heading">
        <div class="container">
        <h3>{% trans "Üye Girişi" %}</h3>
        <p> <a href="#"> {% trans "Anasayfa" %}</a> / <a href="#"> {% trans "Üye Girişi" %}</a></p>
    </div>
    </div>
        <!--new head-->


        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}

                                <div class="alert alert-danger alert-icon alert-inline mb-4">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <h4 class="alert-title">{% trans "Uyarı!" %}</h4>
                                    {{ error|escape }}
                                    <button type="button" class="btn btn-link btn-close">
                                        <i class="d-icon-times"></i>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-icon alert-inline mb-4">
                                <i class="fas fa-exclamation-triangle"></i>
                                <h4 class="alert-title">{% trans "Uyarı!" %}</h4>
                               {{ error|escape }}
                                <button type="button" class="btn btn-link btn-close">
                                    <i class="d-icon-times"></i>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="page-content mt-2 mb-10">
            <div class="container pt-1">
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="page-content mt-10 pt-4">
                            <form class="ml-lg-2 pt-8 pb-10 pl-6 pr-6 pl-lg-6 pr-lg-6 grey-section"
                                  method="POST"
                                  action="{% url 'account_login' %}">
                                {% csrf_token %}


                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <input class="form-control" style="height:60px;" type="text" name="login"
                                               placeholder="{% trans "Kullanıcı Adı" %}" required>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <input class="form-control" style="height:60px;" type="password"
                                               name="password" placeholder="{% trans "Parola" %}" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                    </div>
                                    <div class="col-md-6 mb-4">


                                    </div>


                                </div>
                                <div class="row">
                                    <button class="btn btn-md btn-primary mb-2 d-block">{% trans "Giriş" %}</button>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'account_signup' %}" class="btn btn-md btn-success mb-2 ">

                                        {% trans "Üye Ol" %}

                                    </a>
                                    <a href="{% url 'account_reset_password' %}"
                                       class="btn btn-md btn-secondary mb-2 ml-2 ">{% trans "Şifremi Unuttum" %}</a>
                                </div>
                            </form>

                        </div>

                    </div><!-- End .col-md-6 -->


                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div>

    </main><!-- End .container -->

    <div class="mb-5"></div><!-- margin -->




{% endblock %}
