{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Şifre Değiştirme" %}{% endblock %}


{% block content %}

    <main class="main">

        <div class="container">
            <div class="heading mb-4 mt-4">
                <h2 class="title">Parola Değiştir</h2>
            </div><!-- End .heading -->

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}Parola sıfırlama bağlantısı geçersizdi, muhtemelen daha önceden kullanılmış.
                    <a href="{{ passwd_reset_url }}">Lütfen yeni bir bağlantı isteyin</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}

                    <form method="POST" class="password_change" novalidate>
                                        {% csrf_token %}




                      {{ form|crispy }}

                        <button type="submit" class="btn btn-primary btn-reveal-right mt-3 mb-5 btn-block">Parola Değiştir <i
                                class="d-icon-arrow-right"></i></button>
                    </form>
                {% else %}
                    <p>{% trans 'Şifreniz artık değiştirildi.' %}</p>
                {% endif %}
            {% endif %}
        </div><!-- End .container -->


        <div class="mb-5"></div><!-- margin -->


    </main>
{% endblock %}
