{% extends "base.html" %}
{% load i18n static %}


{% block content %}
    {% if product_detail.stock > 0 %}
        <form method="post" action="{% url "checkout/:add-to-cart" %}">
    {% else %}
        <form method="post" action="{% url "product/:add-to-request-list" %}">
    {% endif %}
{% csrf_token %}
<input type="hidden" name="product_id" value="{{ product_detail.id }}"/>
<div class="main-container container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row row-sm">
                        <div class="col-xl-5 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="product-carousel">
                                        <div id="Slider" class="carousel slide border" data-bs-ride="false">
                                            <div class="carousel-inner">
                                                {% for image in product_detail.images.all %}
                                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                        <img src="{{ image.image.url }}" alt="img"
                                                             class="img-fluid mx-auto d-block">
                                                        <div class="text-center mt-5 mb-5 btn-list"></div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix carousel-slider">
                                        <div id="thumbcarousel" class="carousel slide" data-bs-interval="t">
                                            <div class="carousel-inner">
                                                <ul class="carousel-item active">
                                                    {% for image in product_detail.images.all %}
                                                        <li data-bs-target="#Slider"
                                                            data-bs-slide-to="{{ forloop.counter0 }}"
                                                            class="thumb {% if forloop.first %}active{% endif %} m-2">
                                                            <img src="{{ image.image.url }}" alt="img">
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="details col-xl-7 col-lg-12 col-md-12 mt-4 mt-xl-0">
                            <div class="mt-2 mb-4">
                                <h3 class="mb-3 fw-semibold">{{ product_detail.name }}</h3>
                                <h4 class="mt-4"><b>Açıklama</b></h4>
                                {{ product_detail.description|safe }}
                                <h3 class="mb-4">
                                    <span class="me-2 fw-bold fs-25 d-inline-flex">{{ product_detail.price }} TL</span>
                                </h3>
                                <div class=" mt-4 mb-5"><span class="fw-bold me-2">Stok :</span><span
                                        class="fw-bold text-success">Mevcut</span></div>
                                <div class="row row-sm">
                                    <div class="col">
                                        <div class="mb-2 me-2 sizes">
                                            <span class="fw-bold me-4">Adet:</span>
                                            <div class="input-group input-indec input-indec1 w-30 w-sm-60 mt-3">
                                                                    <span class="input-group-btn">
                                                                        <button type="button"
                                                                                class="minus btn btn-white btn-number btn-icon br-7 ">
                                                                            <i class="fa fa-minus text-muted"></i>
                                                                        </button>
                                                                    </span>
                                                <input type="text" name="product_quantity"
                                                       class="form-control text-center qty" value="1">
                                                <span class="input-group-btn">
                                                                        <button type="button"
                                                                                class="quantity-right-plus btn btn-white btn-number btn-icon br-7 add">
                                                                            <i class="fa fa-plus text-muted"></i>
                                                                        </button>
                                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="btn-list mt-4">
                                    <button type="submit" class="btn ripple btn-primary me-2">
                                        <i class="fa fa-shopping-cart"></i>
                                        {% trans "Sepete Ekle" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-1 CLOSED -->
</div>
</form>
{% endblock %}