{% extends "base.html" %}
{% load i18n static %}


{% block content %}
    <div class="main-content mt-0 hor-content">
        <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container">
                <!-- ROW-1 OPEN -->
                <div class="row row-cards">
                    <!-- COL-END -->
                    <div class="col-12">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-11" role="tabpanel">
                                <div class="row">
                                    {% for product in products %}
                                        <div class="col-md-4 col-xl-3 col-sm-4">
                                            <div class="card">
                                                <div class="product-grid6">
                                                    <div class="product-image6 p-5">
                                                        <ul class="icons">
                                                            <li>
                                                                <a href="{{ product.get_absolute_url }}"
                                                                   class="btn btn-primary">
                                                                    <i class="fa fa-eye"> </i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <a href="{{ product.get_absolute_url }}">
                                                            <img class="img-fluid br-7 w-100"
                                                                 src="{{ product.get_first_image.image_url }}"
                                                                 alt="img" style="max-height: 300px;">
                                                        </a>
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="product-content text-center">
                                                            <h1 class="title fw-bold fs-20">
                                                                <a href="{{ product.get_absolute_url }}">
                                                                    {{ product.name }}
                                                                </a>
                                                            </h1>
                                                            <div class="price">{{ product.price }} TL</div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer text-center">
                                                        <a href="{{ product.get_absolute_url }}"
                                                           class="btn btn-primary mb-1">
                                                            <i class="fa fa-shopping-cart mx-2"></i>
                                                            {% trans "İncele" %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- COL-END -->
                    </div>
                    <!-- ROW-1 CLOSED -->
                </div>
                <!-- ROW-1 END -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
{% endblock %}